# This is the systemd service file that you'll need to configure and install in the /lib/systemd/system/ directory so that systemd will know you to launch/start/stop your counter service.

[Unit]
Description=counter

[Service]
User=counter
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/python3 /usr/local/bin/counter.py
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
